In [ ]:
import os
from infoclus import InfoClus


RELATIVE_DATA_PATH = os.path.join(os.path.pardir, 'data')
DATA_SET_NAME = 'german_socio_eco'

infoclus = InfoClus(DATA_SET_NAME, RELATIVE_DATA_PATH)

:

In [12]:
import os
script_a_dir = os.path.dirname(os.path.abspath(__))
path = os.path.join(script_a_dir, 'data')

TypeError: abspath() missing 1 required positional argument: 'path'

In [6]:
import pandas as pd

# 创建一个 DataFrame 示例，包含字符串列
data = pd.DataFrame({
    'A': ['cat', 'bird', 'dog', 'bird', 'dog', 'cat', 'bird']
})

# 使用 factorize 将字符串列转换为整数
codes, unique_values = pd.factorize(data['A'])

# 将整数编码添加到 DataFrame 中
data['A_encoded'] = codes

In [7]:
unique_values

Index(['cat', 'bird', 'dog'], dtype='object')

In [8]:
data

      A  A_encoded
0   cat          0
1  bird          1
2   dog          2
3  bird          1
4   dog          2
5   cat          0
6  bird          1